<header class="m-0 fixed-top">
  <nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img
          src="../public/images/—Pngtree—travel_1371015.png"
          alt=""
          width="40"
          height="40s"
          class="d-inline-block align-text-top"
        />
      </a>
      <h3 class="text-white">Blog_viajes</h3>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-lg-5">
          <li class="nav-item">
            <a class="nav-link bi bi-house-fill" aria-current="page" href="/">
              Inicio</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/autores">Autores</a>
          </li>
        </ul>

        <a class="nav-link" href="/registro">Registro</a>

        <a class="nav-link" href="/inicio">Inicio</a>
      </div>
    </div>
  </nav>
</header>
